@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

:root {
    --text-primary: #fafafa;
    --bg-primary: #050505;
    --primary: #e2de1d;
    --secondary: #1a2e05;
    --accent: #b4ed78;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: var(--text-primary);
    background: var(--bg-primary);
}

button {
    border: none;
    background: inherit;
    color: var(--light-grayish-blue);
    cursor: pointer;
}

button:hover {
    color: var(--text-primary);
}

.container {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.todo {
    width: 70%;
    height: 70%;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid ;
    padding:2rem ;
    margin: 0;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    letter-spacing: 12px;
    font-weight: 700;
}

.input {
    /* width: 100%; */
    background: var(--bg-primary);
    padding: .4rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.input input {
    background: inherit;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    color: inherit;
    padding: .1rem 3rm;

}

.input .checkbox {
    color: var(--secondary);
    width: 1.2rem;
    height: 1.2rem;
    clip-path: circle(50%);
    cursor: pointer;
}

.todo-item {
    border-bottom: 1px solid grey;
    display: flex;
    justify-content: start;
}

.todo-item p.done {
    color: rgb(133, 133, 133) !important;


}
.todo-item div{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 3rem;
    align-items: center;
    justify-content: space-between;
}
.deadline{
    color: rgb(133, 133, 133) !important;
    font-size: .6rem;
    font-style: italic;
}

.todo-nav {
    border-top: 1px solid grey;
}

.todo-nav,
.progress {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    color: var(--secondary-light-grayish-blue);
    font-size: 1rem;
    padding: 0.4rem 0;
}

#todo-input-form label {
    display: flex;
    gap: 1rem;
    
}
#todo-input-form{
    display: grid;
    grid-template-columns: 1fr 4rem;
    padding: .6rem 1rem;
    border-radius: .3rem;
    background: var(--bg-primary);
    box-shadow: 0px 1px 2px ;
    width: 100%;
}


.todo-list {
    margin-top: 2rem;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--very-dark-blue);

}

.todo-list-section {
    max-height: 100%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.todo-list-section::-webkit-scrollbar {
    display: none;
  }
.done {
    text-decoration: line-through;
    font-style: italic;
    color: var(--accent);
    /* color: red; */
}


#date{
    cursor: pointer;
    width: 2rem;
    border: 1px solid;
}
.cross{
    background: var(--accent);
    padding: .3rem .6rem;
    color: var(--text-primary);
    font-size: 1rem;
    border-radius: .3rem;
    font-weight: 900;
    outline: none;
    border: none;
    color: var(--secondary);

}
.cross:hover{
    background: var(--primary);
    color: var(--secondary);

}

form.input{
    overflow: hidden;
}
@media screen and (max-width:768px) {
    .todo{
        padding: 1rem;
        margin: 0 .1rem;
        width: 100%;
    }
    .todo-nav{
        flex-wrap: wrap;
        justify-content: space-around;
        padding: .6rem 0;
    }
 
}
@media screen and (max-width:320px) {
    .todo-nav .progress{
        order: 1;
    }

}