@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@400;700&family=Rubik:wght@300;400;700&display=swap');

:root {
    --primary-bright-blue:hsl(220, 98%, 61%);
    --bg-primary:linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --secondary-very-light-gray:hsl(0, 0%, 98%);
    --secondary-very-light-grayish-blue:hsl(236, 33%, 92%);
    --secondary-light-grayish-blue:hsl(233, 11%, 84%);
    --secondary-dark-grayish-blue:hsl(236, 9%, 61%);
    --secondary-very-grayish-blue:hsl(235, 19%, 35%);

    --very-dark-blue:hsl(235, 21%, 11%);
    --very-dark-desaturated-blue:hsl(235, 24%, 19%);
    --light-grayish-blue:hsl(234, 39%, 85%);
    --light-grayish-blue-hover:hsl(236, 33%, 92%);
    --dark-grayish-blue:hsl(234, 11%, 52%);
    --very-dark-grayish-blue:hsl(233, 14%, 35%);
    --very-dark-grayish-blue-2:hsl(233, 14%, 26%);
    
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
button{
    border: none;
    background: inherit;
    color: var(--light-grayish-blue);
    cursor: pointer;
} 
button:hover{
color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upper {
    width: 100%;
    height: 36%;
    background: linear-gradient(to-right, blue, violent);
}

.lower {
    width: 100%;
    height: 64%;
    background: #000;

}
.upper-img{
    width: 100%;
    height: 100%;
}

.todo {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.title h1{
    letter-spacing: 12px;
    font-weight: 700;
}
.input{
    width: 100%;
    background: var(--very-dark-blue);
    padding: .4rem  1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input input{
    background: inherit;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--secondary-very-light-gray);
    width: 100%;

}
.input .checkbox{
    color: var(--light-grayish-blue);
    width: 1.2rem;
    height: 1.2rem;
    clip-path: circle(50%);

}

.todo-item{
    overflow-y: scroll;
    border-bottom: 1px solid grey;
}
.todo-item p{
    color: var(--light-grayish-blue);
}
.todo-nav{
    border-top: 1px solid grey;
}

.todo-nav, .progress{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    color: var(--secondary-light-grayish-blue);
    font-size: 1rem;
    padding: 0.4rem 2rem;
}

.todo-input-form{
    display: flex;
}
.todo-list{
    margin-top: 2rem;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--very-dark-blue);

    /* background: grey; */
}
.todo-list-section{
    max-height: 100%;
    overflow-y: scroll;
}
.done{
    text-decoration: line-through ;
    /* color: red; */
}

@media screen and (max-width:600px) {
    .todo{
        width: 100%;
    }
}
